.geography-container {
  padding: 20px;
  background-color: var(--quinta-cor);
  color: var(--primeira-cor);
}

.geography-container h1 {
  color: var(--terceira-cor);
  text-align: left;
  display: flex;
}

.geography-container h2 {
  color: var(--segunda-cor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.geography-container p {
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.geography-container ul {
  list-style-type: square;

}

.geography-container button {
  background-color: var(--sexta-cor);
  color: var(--quinta-cor);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-items: center;
  text-align: center;
}

.geography-container button:hover {
  background-color: var(--quarta-cor);
}
.container-img{
  border: 2px solid white;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;

}
img{
  height: 300px;
  width: 500px;
  border-radius: 50%;
}
.imgTrabalho{
  height: 100%;
  width: 100%;
}

